<div class="row">
  <div class="col-12">
    <div class="car">
      <div class="car-body">

        <h4 class="card-title">PORCENTAJE</h4>
        <div class="progress m-t-20">
          <div class="porcentaje-bar bg-primary progress-bar-striped"
                style="height: 5px;"
                [style.width]="getPorcentaje1"
                role="progresbar">

          </div>
        </div>


        <div class="progress m-t-20">
          <div class="porcentaje-bar bg-info progress-bar-striped"
                style="height: 5px;"
                [style.width]="getPorcentaje2"
                role="progresbar">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador (valorSalida)="progreso1=$event"
                           [valor]="progreso1"
                           [btnColor]="'btn btn-primary'"
                           >

        </app-incrementador>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador
                      (valorSalida)="progreso2=$event"
                      [valor]="progreso2"
                      [btnColor]="'btn btn-info'"
        ></app-incrementador>

      </div>
    </div>
  </div>
</div>
